@{
    ViewData["Title"] = "Iniciar Sesion";
}
<<<<<<< HEAD

@model jbp_wapp.Models.LoginViewModel

<section class="h-100 h-custom">
=======
<style>
    .h-100 {
        height: 100vh;
    }
</style>

@model jbp_wapp.Models.LoginViewModel
@Html.Partial("Loading")
<section class="h-100 d-flex align-items-center justify-content-center">
>>>>>>> feature/ui
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-6 col-xl-4">
                <div class="card rounded-3">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Iniciar Sesión</h3>
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                        }
                        <form id="loginForm" class="px-md-2" asp-controller="Account" asp-action="Login" method="post">
                            <div class="form-outline mb-4">
                                <label class="form-label">Correo</label>
                                <input name="Correo" class="form-control" type="email" id="Correo" required />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label">Contraseña</label>
                                <input name="Contrasena" class="form-control" type="password" id="Contrasena" required />
                            </div>
                            <button type="submit" id="loginButton" class="btn btn-primary btn-block">Iniciar Sesión</button>
                            <div class="text-center mt-3">
                                <a asp-controller="Account" asp-action="Signup">No tienes cuenta?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
