@{
    ViewData["Title"] = "Iniciar Sesion";
}

@model TblUsuario

<form asp-action="Login" method="post">
    <label>Correo:</label>
    <input name="correo" />
    <label>Contraseña:</label>
    <input name="contrasena" type="password" />
    <button type="submit">Ingresar</button>
    <a asp-controller="Account" asp-action="Signup">No tienes cuenta?</a>
</form>

