@{
    ViewData["Title"] = "Registro de Usuario";
}
@* @model TblUsuario *@

<h2>Registro</h2>

<form id="registerForm">
    <label>Nombre</label>
    <input type="text" id="Nombre" required/>

    <label>Apellido</label>
    <input type="text" id="Apellido" required/>

    <label>Nombre Usuario</label>
    <input type="text" id="NombreUsuario" required />

    <label>Correo</label>
    <input type="email" id="Correo" required />

    <label>Contrasena</label>
    <input type="password" id="Contrasena" required />

    <label>Roles</label>
    <select id="Rol" required></select>

    <label>Departamentos</label>
    <select id="Departamento" required></select>

    <label>Generos</label>
    <select id="Genero" required></select>

    <button type="button" id="registerButton">Registrar</button>
    <a asp-controller="Account" asp-action="Login">Ya tienes cuenta?</a>
</form>

<script>
    function cargarRoles() {
        fetch('/Account/GetRoles')
            .then(response => response.json())
            .then(data => {
                const rolSelect = document.getElementById('Rol');
                rolSelect.innerHTML = '';
                data.forEach(rol => {
                    rolSelect.innerHTML += `<option value="${rol.id}">${rol.nombre}</option>`;
                });
            })
            .catch(error => console.error("Error al cargar roles:", error));
    }

    function cargarDepartamentos() {
        fetch('/Account/GetDepartamentos')
            .then(response => response.json())
            .then(data => {
                const dptSelect = document.getElementById('Departamento');
                dptSelect.innerHTML = '';
                data.forEach(dpto => {
                    dptSelect.innerHTML += `<option value="${dpto.id}">${dpto.nombre}</option>`;
                });
            })
            .catch(error => console.error("Error al cargar departamentos:", error));
    }

    function cargarGeneros() {
        fetch('/Account/GetGeneros')
            .then(response => response.json())
            .then(data => {
                const genSelect = document.getElementById('Genero');
                genSelect.innerHTML = '';
                data.forEach(genr => {
                    genSelect.innerHTML += `<option value="${genr.id}">${genr.nombre}</option>`;
                });
            })
            .catch(error => console.error("Error al cargar géneros:", error));
    }

    // Función para enviar el formulario con JavaScript
    function enviarFormulario(event) {
        event.preventDefault(); // Evitar el envío predeterminado

        const usuarioData = {
            Nombre: document.getElementById('Nombre').value,
            Apellido: document.getElementById('Apellido').value,
            NombreUsuario: document.getElementById('NombreUsuario').value,
            Correo: document.getElementById('Correo').value,
            Contrasena: document.getElementById('Contrasena').value,
            IdRol: parseInt(document.getElementById('Rol').value, 10),
            IdDepartamento: parseInt(document.getElementById('Departamento').value, 10),
            IdGenero: parseInt(document.getElementById('Genero').value, 10)
        };
        console.log(usuarioData);
        // Validar si algún campo está vacío
        if (!usuarioData.Nombre || !usuarioData.Apellido || !usuarioData.NombreUsuario || !usuarioData.Correo || !usuarioData.Contrasena || !usuarioData.IdRol || !usuarioData.IdDepartamento || !usuarioData.IdGenero) {
            alert("Por favor complete todos los campos");
            return;
        }

        fetch('/Account/Signup', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(usuarioData)
        })
            .then(response => {
                if (response.ok) {
                    alert("Usuario registrado correctamente");
                    limpiarCampos();
                } else {
                    alert("Error al registrar usuario");
                    limpiarCampos();
                }
            })
            .catch(error => console.error("Error:", error));
    }

    // Función para limpiar los campos del formulario
    function limpiarCampos() {
        document.getElementById('registerForm').reset();
    }

    // Cargar los datos y añadir evento al botón de registro cuando se carga la página
    document.addEventListener('DOMContentLoaded', function () {
        cargarRoles();
        cargarDepartamentos();
        cargarGeneros();
        document.getElementById('registerButton').addEventListener('click', enviarFormulario);
    });

</script>