@model jbp_wapp.Models.PerfilPostulante

<h2>Editar Perfil de Postulante</h2>

<form asp-action="EditPostulante" method="post">
    <input type="hidden" asp-for="Id" />
    
    <div class="form-group">
        <label asp-for="Usuario.Nombre"></label>
        <input asp-for="Usuario.Nombre" class="form-control" />
        <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Usuario.Apellido"></label>
        <input asp-for="Usuario.Apellido" class="form-control" />
        <span asp-validation-for="Usuario.Apellido" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Usuario.NombreUsuario"></label>
        <input asp-for="Usuario.NombreUsuario" class="form-control" />
        <span asp-validation-for="Usuario.NombreUsuario" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Usuario.Contrasena"></label>
        <input asp-for="Usuario.Contrasena" class="form-control" />
        <span asp-validation-for="Usuario.Contrasena" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Usuario.Correo"></label>
        <input asp-for="Usuario.Correo" class="form-control" />
        <span asp-validation-for="Usuario.Correo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IdProfesion">Profesiones</label>
        <select asp-for="IdProfesion" asp-items="ViewBag.Profesiones" class="form-control">
        </select>
        <span asp-validation-for="IdProfesion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IdExperiencia">Experiencias</label>
        <select asp-for="IdExperiencia" asp-items="ViewBag.Experiencias" class="form-control">
        </select>
        <span asp-validation-for="IdExperiencia" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Actualizar CV</label>
        <input type="file" name="cvfile" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
