@model jbp_wapp.Models.Usuario

<div class="container my-5">
    <div class="card border-dark shadow">
        <div class="card-header bg-secondary text-white">
            <h2 class="text-center">Editar Información Usuario</h2>
        </div>
        <div class="card-body">
            <form asp-action="EditPostulante" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Nombre"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Apellido"></label>
                        <input asp-for="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="NombreUsuario"></label>
                        <input asp-for="NombreUsuario" class="form-control" />
                        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Contrasena"></label>
                        <input asp-for="Contrasena" class="form-control" />
                        <span asp-validation-for="Contrasena" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Correo"></label>
                        <input asp-for="Correo" class="form-control" />
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="IdDepartamento">Departamento</label>
                        <select asp-for="IdDepartamento" asp-items="ViewBag.Departamentos" class="form-control">
                        </select>
                        <span asp-validation-for="IdDepartamento" class="text-danger"></span>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                    <a href="javascript:history.back()" class="btn btn-secondary btn-sm">Atras</a>
                </div>
            </form>
        </div>
    </div>
</div>