@{
    ViewData["Title"] = "Home Page";
}
@model Usuario

<h2>Bienvenido al Portal de Empleos Nicaraguense, @Model.NombreUsuario</h2>

<p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
    <a asp-controller="Account" asp-action="Signup" class="btn btn-warning">Signup</a>
    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
</p>
