@{
    ViewData["Title"] = "Home Page";
}

<h2>Bienvenido al Portal de Empleos Nicaraguense</h2>

<p>
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Signup">Signup</a>
</p>
