@{
    ViewData["Title"] = "Inicio";
}

<p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
    <a asp-controller="Account" asp-action="Signup" class="btn btn-warning">Signup</a>
    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
</p>

<h2>Bienvenido al Portal de Empleos</h2>
